@import './base.css';

#app {
  /* 移除max-width限制，让响应式布局正常工作 */
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0; /* 移除全局padding，让各页面自己控制 */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: block; /* 改为block，移除grid布局 */
    /* grid-template-columns: 1fr 1fr; */
    padding: 0; /* 移除padding */
  }
}
